@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  display: flex;
  min-height: 100vh;
  background-color: #282c34;
  /* Cor de fundo original */
  color: white;
}

.App-sidebar {
  background-color: #1c1f24;
  /* Cor mais escura para a barra lateral */
  padding: 20px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.App-content {
  flex: 1;
  padding: 20px;
}

.menu {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.menu li {
  margin: 15px 0;
}

.menu a {
  color: white;
  text-decoration: none;
  display: block;
  width: 100%;
}

.menu a:hover {
  text-decoration: underline;
}
